kind: Ingress
apiVersion: extensions/v1beta1
metadata:
  name: seq
  labels:
    app: eshop
    service: seq
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
  - http:
      paths:
      - path: /seq(/|$)(.*)
        backend: 
          serviceName: seq
          servicePort: 80