/*.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
*/


:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: red;
}

.esh-app-header {
    background: url('/images/header.jpg') center -2.7rem no-repeat, linear-gradient(90deg, #7979ac 0%, #7979ac 35%, #0d2092 65%, #0d2092 100%);
    background-size: 94rem, auto;
    display: flex;
    height: 13rem;
    padding-top: 2.25rem;
    position: relative;
    transition: all .35s;
}

    .esh-app-header-expanded {
        background-position: center top;
        background-size: 87rem, auto;
        height: 29rem;
    }

    /* .esh-app-header-promo {
        opacity: 1;
    } */

    .esh-app-header-brand {
        height: auto;
        width: 125px;
    }

    .esh-app-header-promo {
        bottom: 3.5rem;
        /*opacity: 0;*/
        position: absolute;
        text-align: center;
        transition: all .35s;
        width: 100%;
    }

        .esh-app-header-promo-title {
            display: block;
            color: rgba(white, .7);
            font-size: 5rem;
            line-height: 5rem;
            word-wrap: none;

            /*
            @media screen and (min-width: $media-screen-s) {
                font-size: 9rem;
                line-height: 9rem;
            }*/
        }

        .esh-app-header-promo-subtitle {
            display: block;
            color: white;
            font-size: 1.5625rem;
        }

.esh-app-content {
    display: flex;
    flex: 1;
}

.esh-app-footer {
    background-color: #7979ac;
    color: white;
    font-size: 1rem;
    display: flex;
    height: 7rem;
    margin-top: auto;
}

    .esh-app-footer-brand {
        height: auto;
        width: 104px;
    }